*.iml
/*.ipr

.gradle
/local.properties

# Gradle acts as the main source of truth for our projects so .idea
# files are often just noise to our source control.
/.idea/*
!/.idea/codeStyles/

.DS_Store
kotlin-js-store/
.kotlin
build
out
/captures
.externalNativeBuild
.cxx
local.properties
