*.iml
/*.ipr

.gradle
/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/*.iml
/.idea/modules
/.idea/libraries-with-intellij-classes.xml

.DS_Store
build
out
/captures
.externalNativeBuild
.cxx
local.properties

