*.iml
/*.ipr

.gradle
/local.properties

/.idea/*.iml
/.idea/artifacts
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/libraries-with-intellij-classes.xml
/.idea/misc.xml
/.idea/modules
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml

.DS_Store
kotlin-js-store/
.kotlin
build
out
/captures
.externalNativeBuild
.cxx
local.properties
