# General ignores
.DS_Store
build
out

# IntelliJ ignores
*.iml
/*.ipr

# Gradle is the source of truth; ignore IDEA noise
/.idea/*
!/.idea/codeStyles

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/*.iml
/.idea/modules
/.idea/libraries-with-intellij-classes.xml

# Gradle ignores
.gradle

# Kotlin ignores
.kotlin
