name: Build

on:
  pull_request:
    branches: [ '*' ]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          validate-wrappers: true

      - name: Build & Test
        run: ./gradlew build --stacktrace
